body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.screen{
    height: 100vh;
}
.right .row img{
    height: 500px ;
    width: auto;
}
h1,a{
    color: #00a1a1;
}
h1{
    font-size: 3rem;
}
.social i {
    font-size: 2rem;
    margin: 10px 10px 0 0;
}